.most-visited-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.slider-layer1 {
    position: absolute;
    bottom: -3%;
    left: 15%;
    background-color: #FFC3C3;
    border-radius: 24px;
    width: 931px;
    height: 200px;
    z-index: -2;
}

.slider-layer2 {
    position: absolute;
    bottom: -1%;
    left: 10%;
    background-color: #FFA0A0;
    border-radius: 24px;
    width: 1079px;
    height: 200px; 
    z-index: -1; 
}

.slider-layer3{
    position: absolute;
    background: linear-gradient(to bottom, #FF4545, #992929);
    border-radius: 24px;
    bottom: 1%;
    left: 0;
    right: 0;
    width: 1400px;
    height: 200px;
    z-index: 0;
}

.slider-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 24px;
    background-color: #eeeeee5a;
}

.slider-title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider-icon-wrapper{
    width: 45px;
    height: 45px;
    background-color: #FF4545;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controls-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Pagination */
.pagination-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
}

.custom-pagination {
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-bottom: 5px;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
    background-color: #FF4545;
}

.custom-prev {
    background-color: #ff454518;
    color: #FF4545;
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.custom-next {
    background-color: #ff454518;
    color: #FF4545;
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.custom-prev:hover {
    background-color: #FF4545;
    color: white;
}

.custom-next:hover{
    background-color: #FF4545;
    color: white;
}

/* Navigation */
.slider-navigation {
    display: flex;
    gap: 10px;
}

/* Swiper */
.swiper {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.swiper-slide {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.swiper-slide:hover {
    background-color: #fff;
    transform: translateY(-10px); 
    transition: all 0.3s ease;
}

.slide-image-wrapper{
    width: 100%;
}

.slide-image{
    border-radius: 12px !important;
}

.slide-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slide-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slide-boxes{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.category-box{
    width: 50%;
    border: solid 1px #EEEEEE;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}

.category-title{
    color: #493A3A;
    font-size: 14px;
    font-weight: 500;
}

.time-box{
    width: 50%;
    border: solid 1px #EEEEEE;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}

.time-title{
    color: #493A3A;
    font-size: 14px;
    font-weight: 500;
}