.most-visited-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.slider-layer1 {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFC3C3;
    border-radius: 24px;
    width: 931px;
    height: 200px;
    z-index: -2;
}

.slider-layer2 {
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFA0A0;
    border-radius: 24px;
    width: 1079px;
    height: 200px; 
    z-index: -1; 
}

.slider-layer3 {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    border-radius: 24px;
    background: linear-gradient(to bottom, #FF4545, #992929);
    z-index: 0;
}

.slider-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 24px;
    background-color: #eeeeee5a;
    position: relative;
    overflow: hidden;
}

.slider-shape{
    position: absolute;
    top: -4%;
    bottom: 0;
    right: 1%;
    z-index: 2;
}

.slider-shape2{
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
}

.slider-title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 5;
    padding-right: 25px;
    z-index: 4;
}

.slider-shape3{
    position: absolute;
    bottom: -50%;
    right: 17%;
}

.slider-icon-wrapper{
    width: 45px;
    height: 45px;
    background-color: #FF4545;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-controls {
  display: flex;
}

.mobile-controls-wrapper {
  display: none;
}

.slider-controls-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Pagination */
.pagination-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
}

.custom-pagination {
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-bottom: 5px;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
    background-color: #FF4545;
}

.custom-prev {
    background-color: #ff454518;
    color: #FF4545;
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.custom-next {
    background-color: #ff454518;
    color: #FF4545;
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.custom-prev:hover {
    background-color: #FF4545;
    color: white;
}

.custom-next:hover{
    background-color: #FF4545;
    color: white;
}

/* Navigation */
.slider-navigation {
    display: flex;
    gap: 10px;
}

/* Swiper */
.swiper {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

.right-corner{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 6;
}

.left-corner{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 6;
}

.swiper-slide {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.swiper-slide:hover {
    background-color: #fff;
    transform: translateY(-10px); 
    transition: all 0.3s ease;
}

.slide-image-wrapper{
    width: 100%;
}

.slide-image{
    border-radius: 12px !important;
}

.slide-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slide-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slide-boxes{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.category-box{
    width: 50%;
    border: solid 1px #EEEEEE;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}

.category-title{
    color: #493A3A;
    font-size: 14px;
    font-weight: 500;
}

.time-box{
    width: 50%;
    border: solid 1px #EEEEEE;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}

.time-title{
    color: #493A3A;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .slider-layer1 {
        width: 300px;
        height: 120px;
        left: 50%;
        bottom: 11%;
        transform: translateX(-50%);
    }

    .slider-layer2 {
        width: 350px;
        height: 120px;
        left: 50%;
        bottom: 13%;
        transform: translateX(-50%);
    }

    .slider-layer3 {
        width: 99%;
        height: 170px;
        bottom: 15%;
        left: 0;
        right: 0;
        border-radius: 16px;
    }

    .swiper{
        padding-right: 10px;
    }

    .swiper-slide{
        background-color: white;
        box-shadow: 0 4px 20px #00000046;
    }

    .swiper-slide:hover{
        transform: translateY(0);
    }

    .desktop-controls{
        display: none;
    }

    .mobile-controls-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .mobile-controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        background: #fff;
        border-radius: 12px;
        padding: 10px 20px;
    }

    .slider-shape3{
        right: 30%;
        bottom: -60%;
    }

    .slider-shape{
        top: -19%;
        right: 3%;
    }

    .left-corner{
        display: none;
    }

    .right-corner{
        display: none;
    }
}