.breadcrumb{
    align-items: center;
    direction: rtl;
}

.breadcrumb a{
    font-size: 14px;
    color: #493A3A;
    text-decoration: none;
}

.breadcrumb a.previous-page{
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb span.current-page{
    font-size: 14px;
    color: #928989;
}

.breadcrumb .separator img {
    margin: 0 8px;
    vertical-align: middle;
}