.playlist{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.title-container{
    width: 350px;
    height: 300px;
    padding: 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 24px;
    overflow: hidden;
}

.title-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-right: 25px;
    z-index: 3;
}

.main-icon-wrapper{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.main-icon{
    height: auto;
}

.title-image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-main-image{
    z-index: 4;
    margin-top: 10px;
}

.gray-shape{
    position: absolute;
    width: 85%;
    bottom: 0;
    right: 8%;
}

.traingle-shape{
    position: absolute;
    object-fit: cover;
    bottom: 0;
    width: 100%;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item-content{
    width: 350px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    border: 1px solid #EEEEEE;
    border-radius: 24px;
    padding: 25px 35px 25px 25px;
    cursor: pointer;
    position: relative;
}

.custom-shape {
    position: absolute;
    width: 180px;
    top: -1%;
    right: 4%;
    color: #ff3b3b0f;
    transition: color 0.3s ease;
}

.item-content:hover{
    border: 8px solid #EEEEEE;
}

.item-content:hover .custom-shape {
    color: #FF4545;
}

.text-content{
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile-item-description{
    display: none;
}

@media (max-width: 768px) {
    .playlist{
        flex-direction: column;
    }

    .title-container{
        width: 100%;
        height: 100px;
        flex-direction: row;
    }

    .playlist-main-image{
        width: 150px;
    }

    .traingle-shape{
        width: 45%;
        left: 0;
    }

    .gray-shape{
        width: 40%;
        right: 50%;
    }

    .items-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .item-content{
        width: 185px;
        gap: 20px;
        position: relative;
        padding: 20px;
    }

    .custom-shape{
        width: 130px;
        right: 11%;
    }

    .mobile-item-description{
        display: block;
        color: #493A3A;
        font-size: 13px;
    }

    .playlist-title-wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .item-description{
        display: none;
    }

    .item-icon{
        position: absolute;
        top: 10%;
        right: 16%;
    }
}