.short-videos {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
}

.short-layer1,
.short-layer2,
.short-layer3 {
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translateY(-50%);
    border-radius: 16px;
}

.short-layer1 {
    background-color: #FFDFDF;
    width: 279px;
    height: 385px;
    z-index: -2;
}

.short-layer2 {
    background-color: #FFA1A1;
    width: 312px;
    height: 370px;
    z-index: -1;
}

.short-layer3 {
    background: linear-gradient(to top, #992929, #FF4545);
    width: 342px;
    height: 350px;
    z-index: 0;
}

.short-title-section{
    margin-right: 20px;
    width: 550px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: solid 1px #EEEEEE;
    border-radius: 24px;
    z-index: 4;
    position: relative;
}

.short-shape{
    position: absolute;
    top: -1%;
    right: 2%;
}

.short-title-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 5;
}

.short-title-icon{
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4545;
}

.short-title{
    width: 106px;
}

.short-counters{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.short-counter{
    width: 30%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.short-counter-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
}

.short-button{
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.short-videos-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    z-index: 6;
}

.short-video {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}

.short-video-icon{
    position: absolute;
    top: 6%;
    right: 10%;
    z-index: 3;
}

.white-shape{
    position: absolute;
    right: 0;
    top: -2%;
    z-index: 2;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.short-video-content {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    text-align: center;
    z-index: 2;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    border-radius: 0 0 18px 18px;
}

.short-layer4 {
    position: absolute;
    left: -3%;
    background-color: #FFDFDF;
    border-radius: 16px;
    width: 300px;
    height: 300px;
    z-index: -2;
}

.short-layer5 {
    position: absolute;
    left: -2%;
    background-color: #FFA1A1;
    border-radius: 16px;
    width: 350px;
    height: 400px;
    z-index: -1;
}

.short-layer6 {
    position: absolute;
    left: -1%;
    background: linear-gradient(to top, #992929, #FF4545);
    border-radius: 16px;
    width: 400px;
    height: 450px;
    z-index: 0;
}

.short-counter-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .short-videos{
        flex-direction: column;
    }

    .short-layer1,
    .short-layer2,
    .short-layer3 {
        position: absolute;
        top: 0; 
        right: 0;
        transform: translateY(0);
        border-radius: 16px 0 0 16px;
    }

    .short-layer1{
        width: 100px;
        height: 191px;
    }

    .short-layer2{
        width: 212px;
        height: 175px;
    }

    .short-layer3{
        width: 260px;
        height: 156px;
    }

    .short-title-section{
        width: 95%;
        margin-top: 20px;
        margin-right: 0;
    }

    .short-counters{
        flex-direction: column;
        width: 100%;
    }

    .short-counter{
        flex-direction: row;
        width: 100%;
        justify-content: start;
    }

    .short-counter-text{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 8px;
    }

    .short-layer4,
    .short-layer5,
    .short-layer6 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 16px;
    }

    .short-layer4{
        width: 290px;
        height: 270px;
        bottom: 5%;
    }

    .short-layer5{
        width: 270px;
        height: 330px;
        bottom: 3%;
    }

    .short-layer6{
        width: 250px;
        height: 380px;
        bottom: 2%;
    }

    .short-videos-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        padding: 0;
        justify-content: center;
    }

    .short-video {
        display: none;
    }

    .short-video:first-child{
        display: block;
        width: 230px;
        height: 420px;
        scroll-snap-align: center;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        position: relative;
        z-index: 1;
    }

    .video-title{
        font-size: 14px;
        font-weight: 700;
    }

    .video-description{
        font-size: 12px;
    }
}
