.short-videos {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
}

.short-layer1,
.short-layer2,
.short-layer3 {
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translateY(-50%);
    border-radius: 16px;
}

.short-layer1 {
    background-color: #FFDFDF;
    width: 279px;
    height: 385px;
    z-index: -2;
}

.short-layer2 {
    background-color: #FFA1A1;
    width: 312px;
    height: 370px;
    z-index: -1;
}

.short-layer3 {
    background: linear-gradient(to top, #992929, #FF4545);
    width: 342px;
    height: 350px;
    z-index: 0;
}

.short-layer4 {
    position: absolute;
    left: -3%;
    background-color: #FFDFDF;
    border-radius: 16px;
    width: 300px;
    height: 450px;
    z-index: -2;
}

.short-layer5 {
    position: absolute;
    left: -2%;
    background-color: #FFA1A1;
    border-radius: 16px;
    width: 350px;
    height: 400px;
    z-index: -1;
}

.short-layer6 {
    position: absolute;
    left: -1%;
    background: linear-gradient(to top, #992929, #FF4545);
    border-radius: 16px;
    width: 400px;
    height: 350px;
    z-index: 0;
}
