.footer-wrapper{
    width: 100%;
    margin-top: 50px;
    background-color: #EEEEEE;
    position: relative;
}

.footer{
    gap: 80px;
    display: flex;
    padding-top: 20px;
    background-color: transparent;
}

.footer-social-section{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer-layer1,
.footer-layer2,
.footer-layer3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.footer-layer1 { z-index: 0; height: 575px; }
.footer-layer2 { z-index: 1; height: 560px; }
.footer-layer3 { z-index: 2; }

.footer-social-icons{
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}

.youtube-icon-wrapper,
.telegram-icon-wrapper,
.twitter-icon-wrapper,
.whatsapp-icon-wrapper,
.instagram-icon-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff29;
    border-radius: 12px;
    cursor: pointer;
}

.youtube-icon-wrapper svg {
   color: white;
   transition: color 0.3s ease;
}

.youtube-icon-wrapper:hover{
    background-color: white;
}

.youtube-icon-wrapper:hover svg {
   color: black;
}

.telegram-icon-wrapper svg{
    color: white;
    transition: color 0.3s ease;
}

.telegram-icon-wrapper:hover{
    background-color: white;
}

.telegram-icon-wrapper:hover svg{
    color: black;
}

.twitter-icon-wrapper svg{
    color: white;
    transition: color 0.3s ease;
}

.twitter-icon-wrapper:hover{
    background-color: white;
}

.twitter-icon-wrapper:hover svg{
    color: black;
}

.whatsapp-icon-wrapper svg{
    color: white;
    transition: color 0.3s ease;
}

.whatsapp-icon-wrapper:hover{
    background-color: white;
}

.whatsapp-icon-wrapper:hover svg{
    color: black;
}

.instagram-icon-wrapper svg{
    color: white;
    transition: color 0.3s ease;
}

.instagram-icon-wrapper:hover{
    background-color: white;
}

.instagram-icon-wrapper:hover svg{
    color: black;
}

.footer-content-wrapper{
    position: relative;
    width: 88%;
    background-color: white;
    border: solid 1px #EEEEEE;
    border-radius: 24px 24px 0 0;
    padding-top: 15px;
}

.footer-content-section{
    background-color: white;
    border: solid 1px #493a3a25;
    border-radius: 28px 28px 0 0;
}

.footer-content{
    position: relative;
    padding: 60px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.bg-title{
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 0;
}

.about-title-wrapper{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}

.about-title{
    font-size: 16px;
    font-weight: 900;
    color: #493A3A;
    width: 100px;
}

.about-text-wrapper{
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
    text-align: justify;
}

.about-text{
    font-size: 16px;
    color: #1d16168f;
    line-height: 25px;
}

.about-button{
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-button-text{
    font-size: 16px;
    font-weight: 600;
    color: #FF4545;
}

.sec-thrd-section-wrapper{
    display: flex;
    flex-direction: column;
}

.sec-trd-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.links-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    margin-right: 70px;
}

.links-wrapper{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}

.links-title{
    font-size: 16px;
    font-weight: 900;
    color: #493A3A;
    width: 100px;
}

.link-list{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link-item a{
    color: #1d161697;
    font-size: 16px;
    cursor: pointer;
}

.licenses-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    margin-right: 30px;
}

.licenses{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: solid 1px #EEEEEE;
    border-radius: 16px;
}

.license-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: #eeeeee6b;
    border-radius: 12px;
}

.privacy-policy-section{
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-separator{
    background-color: #493a3a19;
    width: 300px;
    height: 1px;
}

.privacy-policy-text{
    color: #1d161652;
    font-size: 16px;
    font-weight: 600;
}

.traingle{
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-social-icons-mobile{
    display: none;
}

@media (max-width: 768px) {
    .footer-wrapper{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .footer{
        gap: 0;
        height: auto;
        display: block;
    }

    .footer-layer1,
    .footer-layer2,
    .footer-layer3{
        display: none;
    }

    .footer-social-icons{
        display: none;
    }

    .footer-content-wrapper{
        width: 100%;
    }

    .footer-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .sec-trd-section{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-social-icons-mobile{
        display: block;
        gap: 10px;
        position: absolute;
        left: 0;
        bottom: 27%;
    }

    .mobile-layer1,
    .mobile-layer2,
    .mobile-layer3{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    .mobile-layer1 { z-index: 0; top: 40px; }
    .mobile-layer2 { z-index: 1; top: 0; }
    .mobile-layer3 { z-index: 2; top: 0; }

    .mobile-social-icons{
        padding-left: 40px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        z-index: 3;
        position: relative;
        gap: 10px;
    }

    .about-text{
        font-size: 14px;
    }

    .about-section{
        padding: 0 10px;
    }

    .links-section{
        margin-right: 10px;
    }

    .licenses-section{
        margin-right: 10px;
        margin-top: 40px;
    }

    .licenses{
        flex-direction: row;
        gap: 10px;
    }

    .license-wrapper{
        padding: 15px 31px;
    }

    .link-list{
        margin: 15px 15px 0 0;
    }

    .footer-separator{
        display: none;
    }

    .privacy-policy-section{
        align-items: center;
        justify-content: center;
    }

    .traingle{
        display: none;
    }
}