.contact-us{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-shape{
    width: 100px;
}

.contact-mobile{
    display: none;
}

.first-section{
    width: 550px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    border: solid 1px #EEEEEE;
    border-radius: 24px;
    padding: 15px;
    position: relative;
}

.first-title-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-shape{
    position: absolute;
    top: -8%;
    right: 2%;
}

.first-title{
    width: 110px;
    z-index: 3;
    padding-right: 30px;
}

.main-icon-wrapper{
    padding-left: 10px;
}

.first-contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-section{
    display: flex;
    flex-direction: column;
    position: relative;
}

.label-section{
    position: absolute;
    top: -12px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
}

.field-section{
    padding: 12px;
    border: solid 1px #EEEEEE;
    border-radius: 12px;
    padding-right: 30px;
}

.address-field-section{
    display: flex;
    border: solid 1px #EEEEEE;
    border-radius: 12px;
    padding: 10px;
    height: 30px;
    align-items: center;
}

.phone-whatsapp{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.phone-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.phone-text{
    padding-right: 45px;
    direction: rtl;
}

.whatsapp-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.whatsapp-text{
    padding-right: 45px;
}

.email-section{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.second-section{
    display: flex;
    flex-direction: column;
    position: relative;
}

.bg-shape1{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.bg-shape2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.second-title-section{
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    z-index: 3;
}

.second-image{
    margin-top: 20px;
    z-index: 3;
    height: 217px;
}

.second-title-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4545;
    border-radius: 12px;
}

.second-button{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    z-index: 3;
    padding: 12px;
}

.third-section{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid 1px #EEEEEE;
    border-radius: 24px;
    padding: 15px;
    position: relative;
}

.third-title-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.third-title{
    width: 110px;
    padding-right: 25px;
    z-index: 3;
}

.third-contact-section{
    display: flex;
    flex-direction: column;
}

.name-phone{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.fullname-field{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.field-input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding-right: 15px;
}

.phone-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.message-button{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: end;
}

.message-field{
    margin-top: 13px;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-field-input{
    width: 100%;
    height: 110px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 12px;
    padding-right: 15px;
}

.send-button{
    height: 110px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}

.left-shape{
    width: 100px;
}

.background{
    display: none;
}

.mobile-button{
    display: none;
}

@media (max-width: 768px) {
    .left-shape{
        display: none;
    }

    .right-shape{
        display: none;
    }

    .second-section{
        display: none;
    }

    .contact-us{
        flex-direction: column;
        gap: 20px;
        position: relative;
        padding-left: 10px;
        overflow-x: hidden;
    }

    .contact-mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #eeeeee44;
        border-radius: 24px;
        position: relative;
        overflow: hidden;
        height: 100px;
        z-index: 5;
    }

    .contact-title-mobile{
        z-index: 3;
        padding-right: 30px;
    }

    .contact-shape{
        top: -8%;
    }

    .first-contact-section{
        margin-top: 20px;
    }

    .second-image-mobile{
        position: absolute;
        left: 0;
        top: 18%;
        width: 180px;
    }

    .first-section{
        width: 100%;
    }

    .third-section{
        width: 100%;
        z-index: 5;
        background-color: white;
    }

    .second-title-section{
        z-index: 5;
        position: relative;
        margin-top: 0;
    }

    .contact-bg{
        position: absolute;
        bottom: 0;
        object-fit: cover;
    }

    .contact-image-bg{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .phone-text{
        padding-right: 10px;
    }

    .whatsapp-text{
        padding-right: 10px;
    }

    .field-section{
        padding-right: 15px;
    }

    .background{
        display: flex;
        position: absolute;
        bottom: 3%;
        left: 0;
    }

    .mobile-button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    .second-button{
        gap: 20px;
    }
}