.blog-archive{
    display: flex;
    flex-direction: column;
    padding: 25px 120px 0 120px;
}

.blog-section{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.blog-sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #1d16162b, #EEEEEE80);
    padding: 15px;
    border-radius: 24px;
}

.blog-heading-wrapper{
    position: relative;
}

.blog-frame2{
    position: absolute;
    z-index: 0;
    right: -5px;
    top: -30px;
}

.blog-title-wrap{
    display: flex;
    gap: 10px;
    margin-top: 0;
    margin-right: 19px;
}

.blog-icon-wrapper{
    background-color: #FF4545;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 12px;
    z-index: 2;
}

.blog-heading{
    width: 120px;
    font-size: 16px;
    font-weight: 700;
    z-index: 2;
}

.single-blog-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 22px;
    padding: 0;
}

.blog-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.blog-tab.active {
    border: solid 7px #eeeeeeb9;
    transform: scale(1.2);
}

.blog-title-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-tab-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #FFF6F6;
    border-radius: 10px;
}

.blog-tab-icon{
    width: 20px;
}

.blog-tab-heading-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-tab-heading{
    font-size: 14px;
    font-weight: 700;
    color: #493A3A;
}

.blog-tab-count{
    color: #928989;
    font-size: 14px;
    font-weight: 500;
}

.tab-arrow-icon{
    width: 20px;
}

.blog-posts-section{
    margin-right: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.sort-options{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.sort-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: #EDEBEB;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.sort-item.active{
    background-color: #493A3A;
    color: white;
}

.blog-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-pagination-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-pagination {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 15px;
    background: linear-gradient(to left, #EEEEEE, #eeeeee46);
    border-radius: 20px;
}

.pagination-wrapper {
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 12px;
}

.pagination-wrapper ul {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin: 0;
}

.pagination-wrapper ul li a,
.pagination-wrapper ul li span{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #807575;
    text-decoration: none;
    transition: all 0.2s ease;
}

.pagination-wrapper ul li a:hover {
    color: #FF4545;
}

.pagination-wrapper ul li span.current{
    color: #FF4545;
}

/* Arrows */
.pagination-arrows {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-arrow.prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: url('<?php echo get_template_directory_uri(); ?>/assets/img/blog/right-arrow.svg') center center no-repeat;
    background-size: 14px;
    cursor: pointer;
}

.page-arrow.next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: url('<?php echo get_template_directory_uri(); ?>/assets/img/blog/left-arrow.svg') center center no-repeat;
    background-size: 14px;
    cursor: pointer;
}

.page-arrow:hover {
    background-color: #f5f5f5;
}

.pagination-single{
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45%;
    font-size: 14px;
    font-weight: 600;
    color: #FF4545;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .blog-archive{
        padding: 10px 15px;
    }
    .blog-sidebar{
        display: none;
    }

    .blog-posts-section{
        width: 100%;
        margin-right: 0;
    }

    .blog-posts{
        grid-template-columns: repeat(1, 1fr);
    }

    .sort-options{
        overflow-x: auto;
        padding-bottom: 12px;
    }
}